.form{
    color: white;
    background-color: rgb(0, 43, 83);
    border-left: 10px solid rgb(255, 48, 7);
    border-right: 10px solid rgb(247, 42, 1);
    border-radius: 10px;
    border-top: 10px solid rgb(176, 153, 153);
}

.kindly-fill{
    background-color: rgb(223, 85, 0);
    border-radius: 10px;
    border-top: 10px solid rgb(176, 153, 153)

}

.label{
    background-color: rgb(211, 121, 17);
}

.icon{
    border-radius:5px;
}

.status{
    background-color: blue;
    border: 2px solid rgb(234, 240, 234);
    border-radius: 10px;
    border-bottom: 8px solid rgb(209, 193, 162);
    
}

.fieldset{
    background-color: rgb(31, 31, 103);
    border-left: 10px solid rgb(211, 75, 47);
    border-right: 10px solid rgb(211, 75, 47);
    border-radius: 20px;
    border-bottom: 8px solid rgb(209, 193, 162);
    border-top: 10px solid rgb(176, 153, 153);
    
}

#submit{
    background-color: bisque;
}

#select{
    background-color: bisque;
}