header{
    background-color: #d17111;
    border: 2px solid white;
    border-radius: 50px;
    width: 99%;
    border-right: 5px solid rgba(245, 5, 17, 0.861);
    border-left: 5px solid rgb(206, 16, 16);
    border-radius: 20px;
}

.greeting{
    background-color: white;
    width: 98%;
    border-top: 3px solid blue;
    border-right: 5px solid rgba(245, 5, 17, 0.861);
    border-left: 10px solid black;
    border-radius: 100px;
}



#personal-information{
    background-color: rgb(223, 223, 239);
    border-radius: 10px;
}