@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body{
    /* background-color: blue ; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.3rem;
}

.hero{
    padding: 100px 0;
    background-color: black;
}
.hero_text {
    width: 60%; 
 }
 
.green {
    color: green;
}

.hero_img {
    height: 30vw;
}

.hero_btn {
    font-size: 16px;
    padding: 15px 30px;
    margin: 50px 0 0 10px;
    /* border-radius: 10px; */
    color: white;
    background-color: green;
}

.hero_btn:hover {
    color: green;
    background-color: white;
    border: 1px solid green;
}

.hero_btn + .hero_btn {
    margin-left: 10px;
}

.container{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

.greeting{
    color: white;
}

.greeting p {
    line-height: 2;
    font-weight: 16px;
}

h1{
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
}




#personal-information{
    background-color: rgb(223, 223, 239);
    border-radius: 10px;
}
ul{
    background-color:rgb(215, 224, 234);
    border: 2px solid white;
    border-radius: 50px;
    width: 99%;
    border-right: 5px solid rgba(245, 5, 17, 0.861);
    border-left: 5px solid rgb(206, 16, 16);
    border-radius: 20px;
}

#faruq{
    background-color: green;
    border-radius: 5px;
    border-bottom: 2.5px solid rgb(190, 245, 9);
}

#man{
    background-color: rgb(67, 208, 2);
    border-radius: 5px;
    border-bottom: 2.5px solid rgb(190, 245, 9);
}

#nigerian{
    background-color: rgb(130, 186, 61);
    border-radius: 5px;
    border-bottom: 2.5px solid rgb(190, 245, 9);
}
#yoruba{
    background-color: green;
    border-radius: 5px;
    border-bottom: 2.5px solid rgb(190, 245, 9);
}

#muslim{
    background-color: rgb(67, 208, 2);
    border-radius: 5px;
    border-bottom: 2.5px solid rgb(190, 245, 9);
}

#single{
    background-color: rgb(130, 186, 61);
    border-radius: 5px;
    border-bottom: 2.5px solid rgb(190, 245, 9);
}

#my-photo{
    border-radius: 50px;
    border-top: 10px solid rgb(129, 154, 181);
    border-right: 10px solid rgb(121, 192, 233);
    border-left: 10px solid rgb(121, 192, 233);
    border-bottom: 10px solid rgb(129, 154, 181);
}

h2{
    background-color: white;
    width: 98%;
    border-top: 3px solid blue;
    border-right: 5px solid rgba(245, 5, 17, 0.861);
    border-left: 10px solid black;
    border-radius: 100px;
    color: blue;
}


p{
    color: white;
}

a{
    text-decoration: none;
    color: red;
}

a:hover{
    text-decoration: none;
    color: blue;
    cursor: pointer;
}



table{
    background-color: white;
    border: 20px  green;
    border-radius: 1px;
    width: 800px;
    font-size: 20px;


}

tr{
    background-color: rgb(5, 243, 84);
   
}

th{
    background-color: beige;
    font-size: 30px;
    border-radius: 10px;
}

.swd{
    background-color: rgba(5, 116, 61, 0.559);
    border-radius: 10px;
}

#omolola{
    
    background-color: bisque;

}


#age{
    background-color: rgb(176, 241, 201);
    color: blue;
    
    
}

.junior-school{
    background-color: rgb(148, 180, 148);
  
}

.nursery-sch{
   
    background-color:green;
    border-radius: 10px;
  
}

.contact-us-div{
    background-color: rgba(240, 228, 6, 0.527);
    border-radius: 10px;
    border-top: 10px solid rgb(242, 232, 213);
}

.my-address-and-number{
    background-color: blue;
    border-radius: 10px;
    border-top: 5px solid rgb(242, 232, 213);
}


.my-email-twttr-fcbk{
    background-color: rgb(242, 232, 213);
    border-radius: 50px;
    border-bottom: 4px solid blue;
}









@media screen and (max-width: 419px) {
    body{
        /* width: 90vw; */
    }

    ul{
        width: 90%;
        padding-left: 10%;
    }

    #my-photo{
        width: 90%;
    }

    table{
        display: none;
    }
    
    .about-me{
        background-color: rgba(250, 235, 215, 0.356);
        color: black !important;
        
    }

    .fieldset{
    padding: 0px;        
    }

  }



  @media screen and (min-width: 419px) {
    .about-me, .referees{
        display: none;
    }
}

